@charset "UTF-8";
/* CSS Document */

.slider-container {
	width:840px;
	height:440px;
	margin: 0 5px;
}

.slider-reel {
	overflow:hidden;
	position: relative;
	margin:111px 0 0;
	height:538px;
	background-color:#fff;
}
 
.slider-reel .slider-cover {
	position: absolute;
}
 
.slider-reel .one-slide {
	width:840px;
	float:left;
	padding:0;
}

.one-slide img {
	padding-left:0;	
}

.one-slide p {
	padding:17px 0px 0;	
}

.slider-buttons {
	margin-left:0px;
}
 
.slider-button {
	height:20px;
	width:20px;
	background:#CCC;
	display:inline-block;
	margin:2px;
	margin-top:10px;
	margin-bottom:0px;
	position: relative; 
	top: 6px;
}

.slider-button:hover {
    background:#E3E3E3;
}

.slider-active {
	background:#999;
}

.slider-prev, .slider-next {    
	text-indent:-1000em;
	display:inline-block;
	width:9px;
	height:33px;
}

.slider-prev {
	background:url(images/left-arrow.png) no-repeat;
}

.slider-next {
	background:url(images/right-arrow.png) no-repeat;
}

.slider-next:hover {
	background: #EEE url(images/right-arrow.png) no-repeat;
}

.slider-prev:hover {
	background: #EEE url(images/left-arrow.png) no-repeat;
}

#hidden{
	display: none;
}

#show{
	display: block;
}

#up{
	top: -30px;
}

#normal{
	top: 0px;
}